/* #col1{
    background-color: rgb(224, 96, 28);
   
}
#col2{
    background-color: #434f53;
}
p{
   text-align: justify;
 
    color: #ffffff;

    line-height: 1.2;
    letter-spacing: 0px;
}
  

.h1{
    margin-left: 5em;
} */